@font-face {
  font-family: "Inter";
  src: url("./fonts/InterRegular18pt.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/InterBold18pt.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif !important;
  letter-spacing: 0.1px;
  word-spacing: 1px;
}

h2 {
  font-weight: 700 !important;
  font-size: 24px !important;
  padding-bottom: 10px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}