# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
**/node_modules/
package-lock.json

# Environment variables
.env
**/.env

# Build outputs
frontend/build/
backend/dist/

# System files
.DS_Store
Thumbs.db
