.error-overlay {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000; 
  padding: 250px 40px 0 40px; 
  font-family: Google Sans,Helvetica Neue,sans-serif;
}

.alert-danger {
  color: black !important;
  font-weight: 400;
  border-radius: 0 !important;
}

.alert {
  padding: 10px !important;
  height: 80px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.btn-close {
  padding: 15px !important;
}

@media (min-width: 900px) {
  .error-overlay .alert{
    max-width: 750px;
    margin: 0 auto;
  }
}