.chat-container {
	display: flex;
	flex-direction: column;
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
  padding-left: 10px;
}

.chat-bubble {
  padding: 10px 15px;
	border-radius: 13px;
	margin: 10px 0;
	max-width: 80%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.sent {
	align-self: flex-end;
	background-color: #E6ECFE;
	color: #000;
	width: 65%
}

.received {
	align-self: flex-start;
	background-color: #f3f2f2;
	color: #000;
	width: 65%
}

.message {
  font-weight: 400;
  margin: 0 auto;
  padding-top: 8px;
  text-align: justify;
}

.typing-indicator {
  display: flex;
  align-items: center;
}

.typing-indicator .message {
  font-style: italic;
  color: #888;
}

.typing-indicator:after {
  content: " ...";
  animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
  33% {
    content: " .";
  }
  66% {
    content: " ..";
  }
  100% {
    content: " ...";
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  font-weight: 400;
  font-size: 20px;
  font-family: Google Sans,Helvetica Neue,sans-serif;
  opacity: 0.8;
  white-space: nowrap;
  overflow: hidden;
}